/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --- */

:root {
  --img-size: 12rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: white;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #212121;
  display: grid;
  place-items: center;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

form {
  border-bottom: 5px solid #ccc;
}

.locationSearch {
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: inherit;
}

.locationSearch:focus {
  outline: none;
}

form > button {
  background-color: inherit;
  border: none;
  padding-inline: 0.5rem;
  cursor: pointer;
}

.info {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.locationName {
  font-weight: bold;
  font-size: 1.25rem;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  font-size: 5rem;
  position: relative;
}

.temp::after {
  font-size: 0.35em;
  content: '°C';
  display: inline;
  position: absolute;
  top: 0.35em;
}

.icon {
  height: var(--img-size);
  width: var(--img-size);
  background-position: center;
  background-size: 140%;
  background-repeat: no-repeat;
}

.desc {
  font-size: 1.25rem;
}